<app-header></app-header>

<div class="altura-home d-flex align-items-center justify-content-center">
    <button class="button-home" routerLink="/crachas-list">
        <i class="bi bi-file-text d-block font-icon-button" routerLink="/servidores"></i>
        &nbsp;LISTA DE CRACHÁS
    </button>
    <button class="button-home" routerLink="/crachas">
        <span class="bi bi-pencil-square d-block font-icon-button" routerLink="/crachas"></span>
        &nbsp;CRACHÁS
    </button>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
