.altura-home {
    min-height:calc(90vh - 44px);
}

.button-home {	
	width: 15%;
    height: 190px;
    margin: 20px;
    min-width: 170px;
    min-height: 50px;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 20px;
    font-weight: 700;
    font-size: 16px;
	background-color: #005E7A;
	color: white;
	box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
	border-color: rgba(255, 255, 255, 0.938);
}

.font-icon-button {
    font-size: 1.5rem;
}
